body{
	font-size: 17px;
	color: black;
	font-family: Arail, sans-serif;
}

.wrapper{
	width: 1060px;
	margin: 0 auto;
}

a, a:hover, a:visited{
	color: #3333CC;
	text-decoration: underline;
	border: 0px;
}
a:hover{
	text-decoration: none;
}

a.to-admin{
	font-size: 12px;
	display: block;
	margin: 30px;
}

.wrapper nav{
	display: block; 
	width: 1050px;
	background-color: #7B7B7B;
	padding: 10px;
	border-radius: 10px;
	margin: 20px 0 0 0;
}
.wrapper nav a{
	display: inline-block;
	text-align:center;
	padding: 10px;
	color: white;
	text-decoration: none;
}
.wrapper nav a:hover, .wrapper nav a.active{
	display: inline-block;
	text-align:center;
	padding: 7px;
	background-color: #505050;
	margin: 5px;
}

.content{
	margin: 0; 
}
.content .panellum-block{
	width: 450px;
	display: inline-block;
}
.content .scheme-block{
	width: 520px;
	display: inline-block;
	margin-left: 40px;
	position: relative;
	height: 380px;
}
.content .floor-nav-block{
	width: 40px;
	display: inline-block;
}
.content .floor-nav-block a{
	display: block;
}
.point-description-block{
	display: block;
}
.point-description-block label{
	font-size: 21px;
	display: block;
	font-weight: bold;
	margin: 25px 0;
}
.point-description-block p{

}

.scheme-block .area{
	overflow: hidden;
	display: none;
	position: absolute;
	background-color: #6666FF;
	border: 1px solid #0000FF;
	opacity: 0.35;
	color: white;
	text-align: center;
	cursor: pointer;
}
.scheme-block .area:hover{
	opacity: 0.65;
	z-index: 300;
}
.scheme-block .area span{
	vertical-align: middle;
	font-size: 19px;
	text-shadow: 1px 1px 2px black, 0 0 1em red;
}

.fb-gallery{
	cursor: pointer;
}




